.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  border: rebeccapurple 1px solid;
  overflow: hidden;
  position: relative;
  flex-direction: row;
  display: flex;
}