.footer__column-links {
    color: white;
    text-decoration: none;
    top: 20px;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    background-color: rgb(255 255 255 / 0%);
}