.oakley {
    background-color: #f2f2f2;
    margin-top: -35px;
    padding-top: 100px;
    margin-bottom: 0;
    padding-bottom: 10px;
    position: relative;
    bottom: 200px;
    z-index: -1;
    display: flex;
    flex-direction: row;
}