.kaufman__triangle {
    background-image: url("/images/kaufman-triangle.svg");
    position: absolute;
    z-index: 1;
    top: 20px;
    right: -210px;
    width: 877px;
    height: 877px;
    overflow: visible;
    padding-left: 120px;
}