.footer__column_content-copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(255px + 91px);
}

.footer__columns_content_info {
    position: absolute;
    right: 15%;
    flex-direction: column;
    height: calc(255px + 91px);
}