.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    width: 400px;
    margin-left: 49px;
    position: relative;
    margin-top: -9px;
    text-decoration: none;
    color: #2f80ed;
}

.khan__buy-link:hover {
    opacity: 50%;
}